#form{
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

body{
  font-family: Roboto;
}

.form-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.num-words{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-content div{
  margin-left: 20px;
}

.form-content-title{
  margin-right: 10px;
}

textarea{
  width: 70%;
  height: 300px;
}

.generated-text-area{
  display: flex;
  width: 70%;
  flex-direction: column;
  margin-left: 15%;
}

.about{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.about h2{
  margin: 0px;
}

.about-text{
  width: 60%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.about-text img{
  
  height: 200px;
}

.image-container{
  display: flex; 
  align-items: center;
  justify-content: center;
}

.hash-container{
  display: flex; 
  align-items: center;
  justify-content: center;
}

.hash-container p{
  padding-left: 10px;
  padding-right: 10px;
}